<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <title>{{ name }}</title>
    <style>
      .power {
        margin-left: 20%;
        margin-right: auto;
      }

      h1 {
        margin-left: 35%;
        margin-right: auto;
        margin-top: 10%;
        color:cadetblue;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <h1 >{{ name }}</h2>
    <p class='power'><img src={{ url }} alt="Chart" height="750" width="750"></p>
  </body>
</html>